*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

nav{
    width: 38%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

#output{
    width: 40%;
    margin: 0 auto;
}

.movieOutput{
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    display: inline-block;
    width: 210px;
    font-size: .8rem
}

.movieOutput img{
    color: rgb(74, 183, 247); 
}

.movieOutput p{
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
    color: rgb(74, 183, 247);
    font-weight: bold;
}

h1{
    margin-top: 15px;
    margin-left: 270px
}

h3{
    padding: 15px 0;
}

input{
    display: inline-block;
    height: 30px;
    margin: auto 0;
    padding-left: 3px;
}